@model IEnumerable<Ticket>

@{
    ViewData["Title"] = "Ticket";
}

<a class="btn btn-primary" asp-action="AddTicket">
    <i class="bi bi-plus"></i>Tạo
</a>
<br>

<table class="table table-striped">
    <tr>
        <th>Tên</th>
        @*<th>Tiêu đề</th>
        <th>Mô tả</th>*@
        <th>Log</th>
        <th>Thời gian</th>
        <th>Team</th>
        <th>Hành động</th>
    </tr>
    @foreach (var ticket in Model)
    {
        <tr>
            <td>@ticket.OwnerId</td>
           @* <td>@ticket.Title</td>*@
            <td>@ticket.Log</td>
            <td>@ticket.CreatedDate</td>
            <td>@ticket.State</td>
            <td class="data">
               @* <a asp-action="Edit" asp-route-id="@ticket.Id" class="btn btn-outline-primary">
                    <i class="bi bi-pencil"></i>
                    Chỉnh sửa
                </a>
           *@
                <form asp-action="Delete" asp-route-id="@ticket.Id" method="post">
                     <button type="submit" class="btn btn-sm btn-danger ">
                                <i class="bi bi-trash"></i>
                            Xóa
                        </button>
                </form>
                    </td>
        </tr>

    }
</table>

@section Scripts {
}