@page "/admin/role/users/"
@model QuanLyNV.Areas.Admin.Pages.Role.UserModel
@{
    ViewData["Title"] = "DANH SÁCH NHÂN VIÊN";
   
}


<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="@Model.StatusMessage" />

<table class="table table-striped">
    <tr>
        <th>Họ tên</th>
        <th>Người dùng</th>
        <th>Địa chỉ</th>
        <th>Số điện thoại</th>
        <th>Giới tính</th>
        <th>Ảnh đại diện</th>
        <th>Hành động</th>
    </tr>
    @foreach (var user in @Model.Users)
    {
        var imgPath = "~/picture/" + (user.Avatar ?? "no-image.png");
        <tr>
            <td>@user.FullName</td>
            <td>@user.UserName</td>
            <td>@user.Address</td>
            <td>@user.PhoneNumber</td>
            <td>@user.Gender</td>
            <td>
                <img src="@imgPath" height="140px;" width="130px;" asp-append-version="true"/>
            </td>
            <td>
                <form method="POST" class="d-inline">
                <button name="Input.ID" value="@user.Id" class="btn btn-primary btn-sm" 
                        asp-page="./AddUserRole">Cập nhật Role</button>
                </form>
                <form method="POST" class="d-inline">
                    <button name="Input.ID" value="@user.Id" class="btn btn-danger btn-sm"
                        asp-page="./DeleteUser">
                        Xóa
                    </button>
                </form>
               
               @*/ <a asp-page="./DeleteUser" asp-route-roleid="@user.Id" asp-route-id="@user.Id">Delete</a>*@
            </td>
        </tr>
        
    }
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@{

    Func<int?,string> generateUrl = (int? _pagenumber)  => {
        return Url.Page("./User", new {pageNumber = _pagenumber});
    };

    var datapaging = new {
        currentPage = Model.PageNumber,
        countPages  = Model.TotalPages,
        generateUrl =  generateUrl
    };

}
<partial name="_Paging" model="@datapaging" />
